// Author Page Styles
// ====================

.author{
  border: 1px solid $primary;
  box-shadow: 0px 2px 1px  rgba(0,0,0,0.10);
  padding: kunit(1);
  margin-top: kunit(4);
  margin-bottom: kunit(2);
  @extend %type-max;
  .author-image{
    max-height: kunit(5);
  }
  .author-name{
    margin: 0;
  }
  .author-bio, .author-website, .author-more{
    @include ktype(0,0,0);
    margin: 0;
  }

  .author-more{
    white-space: nowrap;
  }
}