// Forms
// =======

form{
  @extend %type-max;
}

%form-control{
  @extend %type-max;
  @include ktype(0,0,0);
  border-width: 1px;
  font-family: $sans;
  font-weight: 400;
  border-style: solid;
  transition: border-color 300ms;
  margin-bottom: kunit(1/2);
  &:focus, &:active{
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
textarea{
  @extend %form-control;
  border-color: rgba(0,0,0,0.28);
  outline: 0;
  width: 100%;
  color: $black;
  display: block;
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.28);
  border-radius: 3px;
  max-width: 100%;
  padding: kunit(1/4);
  &:hover{
    border-color: $gray-dark;
  }
  &:focus, &:active{
    outline: 0;
    border-color: $primary;
  }
  &:disabled{
    background:$gray;
  }
}

textarea{
  font-family: $serif;
}

label + %form-control{
  margin-top: 0;
}

// Buttons
// ---------

button, 
.button, 
[type="submit"], 
[type="reset"], 
[type="button"]{
  @extend %form-control;
  border: 0; 
  width: auto;
  color: $white;
  background: $gray-dark;
  transition: box-shadow 300ms, background 300ms;
  box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.11);
  border-radius: 3px;
  padding: kunit(1/4) kunit(1/2);
  &:hover, &:focus {
    background-color: $black;
  }
  &:active{
    outline: 0;
    background:$black;
  }
}

.button-brand{
  border-color: $primary;
  background: $primary;
  &:hover, &:focus {
    background-color: darken($primary, 10%);
  }
}

.button-error{
  border-color: $error;
  background: $error;
}


// Labels & Legends
// ------------------

label{
  @include ktype(-1,1,1);
  display: block;
  text-transform: uppercase;
  font-family: $sans;
  font-weight: 500;
}

legend{
  font-family: $sans;
  color: $black;
  @include ktype(0,0,0);
  padding: 0 kunit(1/2);
}