// Index (post list) Styles
// ==========================

.index, 
.home-template, 
.archive-template,
.author-template,
.tag-template{

  .post{
    margin-bottom: kunit(2);
    h1{
      margin: 0;
    }
  }
  
  .featured{ // Added by Ghost if featured
    &:before{
      content: "FEATURED";
      color: $primary;
      display: block;
      font-family: $sans;
      font-weight: 500;
      @include ktype(-1,0,0);
    }
  }
  
}