// Posts
// =======

.post{ // Class added by Ghost
  margin: kunit(1) 0;
}

.page-title{ // used outside of #post
  @include ktype(2,0,0);

  // Fix extra long unbreaking titles like 'antidisestablishmentarianism'
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.post-meta{

}

.post-header{
  margin-bottom: kunit(2);
}

.post-content{
  
  img{
    margin: kunit(1) 0;
  }
  
  > p{
   @extend %type-max;
  }

  %type-max{
    max-width: 30rem;
  }

}