// Posts
// =======

.post{ // Class added by Ghost
  margin: kunit(1) 0;

  img{
    margin: kunit(1) auto;
  } 
}

.page-title{ // used outside of #post
  @include ktype(3,0,0);

  // Fix extra long unbreaking titles like 'antidisestablishmentarianism'
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.post-meta{

}

.post-header{
  margin-bottom: kunit(2);
}

.post-content{

}