
// Settings
// ==========


// Color
// -------

// Brand
$primary: #E4C667;
$primary-light: #fef0c3;
$highlight:   #0076ff;
$error: #f20;

// Grayscale
$black:       #4C4C4C;
$gray-dark:   #7a7a7a;
$gray:        #D1D1D1; 
$white:       #fff;

// Transparency
$black-t: rgba(18,19,19,0.55);


// Type
// ------

// Knife (Vertical Rhythm & Modular Scale calculator)
$body-font-size:    21px;
$body-line-height:  $augmented-fourth;
$scale-factor:      $golden;
$ie8compatability:  true;
$outputrems:        true;

// Fonts
$sans:  "ff-dagny-web-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "minion-pro", "Minion pro", "Minion", Minion, Georgia, Times, "Times New Roman", serif;
$monospace: Consolas, Monaco, 'Andale Mono', monospace;


// Breakpoints
// -------------

$small: 600px;
$medium: 800px;
$large: 1200px;
$x-large: 1600px;