.site-header{
  margin: 0;

  @media screen and (min-width: $small){
    padding-top: kunit(1);
    padding-bottom: kunit(4);
  }
  
}

.site-logo{
  margin: kunit(1) auto;
}

.site-title{
  @include ktype(1,0,0);

  a{
    color: inherit;

    &:hover,
    &:focus{
      color: $primary;
    }
    
  }

}

.site-description{
  @include ktype(-1,0,0);
}

.site-navigation{
  
  li{
    @include ktype(2,1,1);
    display: block;

    @media screen and (min-width: $small){
      display: inline-block;

      + li{
        margin-left: kunit(1);
      }

    }

  }

}

.site-footer{
  color: $gray;
  background-color: #f4f4f4;
  padding: kunit(1) 0;
  border-top: 2px solid #fff;

  .copyright{
    @include ktype(-1,0,0);
  }

}